


:root {
    --body: #ffffff;
    --white: #ffffff;
    --headtop: #E4E1DD;
    --base: #FBC264;
    --base2: #13A662;
    --base3: #FF5931;
    --base4: #FFA818;
    --base5: #FF6C49;
    --bord: #DDDDDD;
    --basebg: #15673B;
    --title: #000;
    --dtext1: #703C00;
    --subtitle: #17171D;
    --ratting: #FFBE57;
    --pra: #525252;
    --spa: #A5A5A5;
    --faqbg: #F6F7F8;
    --border: #E7E7E7;
    --border2: #DDD;
    --bg1: #F4F1ED;
    --footertext: #C2DECF;
    --lfooterbg: #fff;
}

.darkmode {
    --body: #212020;
    --white: #ffffff;
    --headtop: #212020;
    --base: #FBC264;
    --base2: #13A662;
    --base3: #FF5931;
    --base4: #FFA818;
    --base5: #FF6C49;
    --basebg: rgb(44, 39, 39);
    --title: #fff;
    --dtext1: #703C00;
    --subtitle: #17171D;
    --ratting: #FFBE57;
    --pra: #A5A5A5;
    --faqbg: #17171D;
    --spa: #A5A5A5;
    --border: #efe8e852;
    --border2: #DDD;
    --bg1: #1b1a1a;
    --footertext: #C2DECF;
    --darkcmn: rgb(44, 39, 39);
}